.padding{
    padding: 10px;
    margin: 2px;
    font-size: 0.8em;
}

.mean-A4{
    color: white;
background-color: hsla(187, 100%, 50%, 1)
}

.mean-B4{
    color: white;
    background-color: hsla(185, 100%, 50%, 1)
}

.mean-C5{
    background-color: hsla(169, 100%, 50%, 1)
}

.mean-D5{
    background-color: hsla(162, 100%, 50%, 1)
}

.mean-E5{
    background-color: hsla(143, 100%, 50%, 1)
}

.mean-F5{
    background-color: hsla(132, 100%, 50%, 1)
}

.mean-G5{
    background-color: hsla(134, 100%, 50%, 1)
}

.mean-A5{
    background-color: hsla(119, 100%, 50%, 1)
}

.median-A4{
    color: white;
    background-color: hsla(216, 100%, 50%, 1)
}
    
.median-B4{
    color: white;
    background-color: hsla(207, 100%, 50%, 1)
}
    
.median-C5{
    color: white;
    background-color: hsla(186, 100%, 50%, 1)
}
    
.median-D5{
    background-color: hsla(163, 100%, 50%, 1)
}
    
.median-E5{
        background-color: hsla(136, 100%, 50%, 1)
    }
    
.median-F5{
        background-color: hsla(120, 100%, 50%, 1)
    }
    
.median-G5{
        background-color: hsla(121, 100%, 50%, 1)
    }
    
.median-A5{
        background-color: hsla(79, 100%, 50%, 1)
}


.mode-A4{
    background-color: hsla(0, 100%, 50%, 1),
}
    
.mode-B4{
    background-color: hsla(0, 100%, 50%, 1)
}
    
.mode-C5{
    background-color: hsla(0, 100%, 50%, 1)
}
    
.mode-D5{
    background-color: hsla(0, 100%, 50%, 1)
}
    
.mode-E5{
        background-color: hsla(0, 100%, 50%, 1)
    }
    
.mode-F5{
        background-color: hsla(0, 100%, 50%, 1)
    }
    
.mode-G5{
        background-color: hsla(0, 100%, 50%, 1)
    }
    
.mode-A5{
        background-color: hsla(0, 100%, 50%, 1)
}

/////////////////////////////////

.mean0-A4{
    color: white;
    background-color: hsla(196, 100%, 50%, 1)
    }
    
    .mean0-B4{
        color: white;
        background-color: hsla(193, 100%, 50%, 1)
    }
    
    .mean0-C5{
        background-color: hsla(179, 100%, 50%, 1)
    }
    
    .mean0-D5{
        background-color: hsla(168, 100%, 50%, 1)
    }
    
    .mean0-E5{
        background-color: hsla(149, 100%, 50%, 1)
    }
    
    .mean0-F5{
        background-color: hsla(140, 100%, 50%, 1)
    }
    
    .mean0-G5{
        background-color: hsla(144, 100%, 50%, 1)
    }
    
    .mean0-A5{
        background-color: hsla(134, 100%, 50%, 1)
    }
    
    .median0-A4{
        color: white;
        background-color: hsla(219, 100%, 50%, 1),
    }
        
    .median0-B4{
        color: white;
        background-color: hsla(211, 100%, 50%, 1)
    }
        
    .median0-C5{
        color: white;
        background-color: hsla(197, 100%, 50%, 1)
    }
        
    .median0-D5{
        background-color: hsla(166, 100%, 50%, 1)
    }
        
    .median0-E5{
            background-color: hsla(146, 100%, 50%, 1)
        }
        
    .median0-F5{
            background-color: hsla(126, 100%, 50%, 1)
        }
        
    .median0-G5{
            background-color: hsla(130, 100%, 50%, 1)
        }
        
    .median0-A5{
            background-color: hsla(103, 100%, 50%, 1)
    }
    
    
    .mode0-A4{
        color: white;
        background-color: hsla(213, 100%, 50%, 1),
    }
        
    .mode0-B4{
        color: white;
        background-color: hsla(189, 100%, 50%, 1)
    }
        
    .mode0-C5{
        background-color: hsla(53, 100%, 50%, 1)
    }
        
    .mode0-D5{
        background-color: hsla(47, 100%, 50%, 1)
    }
        
    .mode0-E5{
            background-color: hsla(150, 100%, 50%, 1)
        }
        
    .mode0-F5{
            background-color: hsla(59, 100%, 50%, 1)
        }
        
    .mode0-G5{
            background-color: hsla(60, 100%, 50%, 1)
        }
        
    .mode0-A5{
            background-color: hsla(60, 100%, 50%, 1)
    }