@import "~bootstrap/dist/css/bootstrap.css";

.gray {
    color: gray;
}

.large {
    font-size: 4em;
}

.card-space{
    margin: 20px;
}

.withdraw{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2; 
}