<h2>Welcome to the test!</h2>

<p>You will be presented 40 short questions. 
  Please listen to the sound and intuitively associate the color with a sound.
<b>Please turn on the speakers.</b></p>
<!--text-center-->
<div *ngFor="let question of questions; let i = index" class="card card-space">
    <img class="card-img-top" src="" alt="">
    <div class="card-header">
      <h5 class="card-title">Question {{i}}</h5>
    </div>
    <div class="card-body text-left" id="playSound-{{question}}-{{i}}">
        <button type="button" class="btn btn-dark" (click)="toneJS($event)" value={{question}}>Play the sound</button>
    </div>
    <div class="card-body" id="sliderTxt-{{question}}-{{i}}">
        <p class="card-text">Use slider to change the color.</p>
    </div>
    <div class="card-body color-div text-center" id="card-body-picker-{{question}}-{{i}}">
        <div id="cp{{i}}" data-color="hsl(360, 100%, 50%)">
            <input  #newAnswer
            (keyup.enter)="addAnswer(newAnswer.value)"
            newAnswer.value='' 
            type="text" 
            class="form-control input-lg"/>
        </div>
    </div>
    <div class="card-footer text-muted left">
        <button type="button" class="btn btn-dark" id="btn-{{question}}-{{i}}"
        (click)="addAnswer(newAnswer.value, $event)"
        value={{question}} name={{i}}>Save answer</button>
        <p id="p-{{question}}-{{i}}" style="display: none">Your answer is saved!</p>
    </div>
</div>

<div class="card text-center card-space card-body">
    <button type="button" class="btn btn-success"
    (click)="sendToFirebase()">Send your answers!</button>
    <p id="thanks" style="display: none">Thank you!</p>
</div>

